NODE_ENV=development
DB_CONNECTION_STRING=mongodb+srv://<db_username>:<db_password>@cluster0.<...>.mongodb.net/cis_db?retryWrites=true&w=majority&appName=Cluster0
DB_USERNAME=...
DB_PASSWORD=...
PORT=3000
API_PATH=/api/v1/
JWT_SECRET=...
JWT_EXPIRES_IN=720m
JWT_REFRESH_OVERLAP=240m # how long until expiration to start issuing new token; must be in minutes!!!
